{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container-fluid about-us">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1 class="title-text text-uppercase text-center">About Us</h1>
                <hr class="hr-small">
            </div>
        </div>
        <div class="row content-text">
            <div class="col-12">
                <p>
                    We are an online vintage clothing store, offering original products of football teams from all over
                    the
                    world,
                    dating back to the 1980s.
                </p>
                <p>
                    We have a passion for both football and retro sportswear, and by combining the two, we are proud to
                    bring you
                    on-trend vintage attire to help re-live those iconic football memories. We aim to scour the globe to
                    find rare,
                    authentic garments from the previous few decades, and make them acquirable once again for our
                    customers
                    to wear
                    and collect.
                </p>
                <p>
                    We understand, you want the exact shirt you once owned as a child, or from the season your team won
                    the
                    cup.
                    Well this is where we come in!
                </p>
                <p>
                    We want to have complete transparency with our customers, so if you have any questions please do not
                    hesitate to
                    contact us.
                </p>
                <p>
                    Cult Classics Team
                </p>
                <hr class="hr-small">
            </div>
        </div>
    </div>
</div>

{% endblock %}