html {
    height: 100%;
}

body {
    background: url('/media/homepage_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-white {
    background: #fff;
    color: #000;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.subscribe-button {
    background-color: #DEE0C8;
    color: #000;
    border: 1px solid #DEE0C8;
    border-radius: 0;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
}

.subscribe-button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.text-grey {
    color: #7E7E7E;
}

.border-black {
    border: 1px solid black !important;
}

.border-white {
    border: 1px solid #fff !important;
}

.bg-black {
    background-color: #000 !important;
}

.bg-grey {
    background-color: #7E7E7E !important;
}

.bg-green {
    background-color: #DEE0C8 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.remove-item,
.update-link {
    cursor: pointer;
}

#topnav {
    border-bottom: 2px solid #DEE0C8
}

.social {
    color: #7E7E7E;
}

.about-us {
    min-height: 800px;
}

.title-text {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.content-text {
    text-align: center;
    word-spacing: 3px;
}

.content-text p {
    margin: 35px;
}

.hr-small {
    margin: 20px auto;
    width: 50%;
    color: #DEE0C8;
    border-top: solid #DEE0C8 2px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}