<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-shirts-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Shirts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-shirts-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="new-in-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                UK Shirts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-in-link">
                <a href="" class="dropdown-item">Premiership</a>
                <a href="" class="dropdown-item">Championship</a>
                <a href="" class="dropdown-item">All Uk Shirts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clearance-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                European Shirts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clearance-link">
                <a href="" class="dropdown-item">La Liga</a>
                <a href="" class="dropdown-item ">Bundesliga</a>
                <a href="" class="dropdown-item ">Seria A</a>
                <a href="" class="dropdown-item">All European Shirts</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clearance-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                International Shirts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clearance-link">
                <a href="" class="dropdown-item">Europe</a>
                <a href="" class="dropdown-item ">Africa</a>
                <a href="" class="dropdown-item ">Americas</a>
                <a href="" class="dropdown-item">Rest of the World</a>
                <a href="" class="dropdown-item">All International Shirts</a>
            </div>
        </li>
    </ul>
</div>