<div class="collapse navbar-collapse bg-black" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-shirts-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Shirts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-shirts-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="new-in-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                UK Shirts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-in-link">
                <a href="{% url 'products' %}?category=premier_league" class="dropdown-item">Premiership</a>
                <a href="{% url 'products' %}?category=championship" class="dropdown-item">Championship</a>
                <a href="{% url 'products' %}?category=premier_league,championship" class="dropdown-item">All Uk
                    Shirts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="clearance-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                European Shirts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clearance-link">
                <a href="{% url 'products' %}?category=spanish" class="dropdown-item">La Liga</a>
                <a href="{% url 'products' %}?category=german" class="dropdown-item ">Bundesliga</a>
                <a href="{% url 'products' %}?category=italian" class="dropdown-item ">Serie A</a>
                <a href="{% url 'products' %}?category=spanish,german,italian" class="dropdown-item">All European
                    Shirts</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="clearance-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                International Shirts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clearance-link">
                <a href="{% url 'products' %}?category=europe" class="dropdown-item">Europe</a>
                <a href="{% url 'products' %}?category=africa" class="dropdown-item ">Africa</a>
                <a href="{% url 'products' %}?category=americas" class="dropdown-item ">Americas</a>
                <a href="{% url 'products' %}?category=rest_of_world" class="dropdown-item">Rest of the World</a>
                <a href="{% url 'products' %}?category=europe,africa,americas,rest_of_world" class="dropdown-item">All
                    International Shirts</a>
            </div>
        </li>
    </ul>
</div>